* {
  box-sizing: border-box;
}
#footer-link {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(#485563, #29323c);
  text-align: center;
  padding: 18px;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.4);
  z-index: 999;
  color: #fff;
  font-size: 1.45rem;
  display: block;
  margin-left: 0px;
  height: 66px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  line-height: 30px;
}
