* {
  box-sizing: border-box;
}
.post-icon {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  border-radius: 30px;
}
.info {
  margin: 0 1.5rem 0 0.3rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
}
.author {
  display: block;
  font-weight: 500;
  margin-left: 0px;
}
.date {
  color: #bbb;
  font-size: 0.8rem;
  display: block;
}

.likes {
  float: right;
}
.like-button {
  padding: 0.3rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  color: #5cb85c;
  background-image: none;
  background-color: transparent;
  border-color: #5cb85c;
}
.like-button:hover {
  background-color: #74b566;
}
#read {
  max-width: 30%;
  font-size: 0.8rem;
  font-weight: 300;
  color: #bbb;
  vertical-align: middle;
  margin-top: 35px;
}
.preview-link h1 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 3px;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: #373a3c;
}

.list {
  float: right;
  max-width: 50%;
  vertical-align: top;
  padding-left: 0;
  display: inline;
  list-style: none;
  margin-top: 0;
  margin-bottom: 1rem;
  margin-block-start: 1rem;
  margin-block-end: 1em;
  margin-inline-start: 600px;
  padding-inline-start: 40px;
}

.tags-list {
  font-weight: 300;
  font-size: 0.7rem;
  padding-top: 0;
  padding-bottom: 0;
  border: 1px solid #ddd;
  color: #aaa;
  background: 0 0;
  white-space: nowrap;
  margin-right: 3px;
  margin-bottom: 0.2rem;
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
  list-style: none;
}
